<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/javaproject/web1/src/main/java/com/xlax/test/CalcTest.java"><classes><class name="com.xlax.test.CalcTest"><methods><include name="testBlack01"/><include name="testBlack02"/><include name="testBlack03"/><include name="testBlack04"/><include name="testBlack05"/><include name="testBlack06"/><include name="testBlack07"/><include name="testBlack08"/><include name="testBlack09"/><include name="testWhite01"/><include name="testWhite02"/><include name="testWhite03"/><include name="testWhite04"/><include name="testWhite05"/><include name="testWhite06"/><include name="testWhite07"/><include name="testWhite08"/><include name="testWhite09"/><include name="testWhite10"/></methods></class></classes></test></suite>